/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;
}

///brand colors
///
$yellow:#EEB43C;
$paleyellow:#EED091;
$black: #000000;
$white:#FFFFFF;
$gray1:#E9E9E9;
$gray2:#DDDDDD;
$gray3:#B0B0B0;
$gray4:#858585;
$gray5:#6A6A6A;
$gray6:#2B2B2B;
$green:#55B63D;
$blue:#0066FF;





