/* =============
    Base
============= */

ul{
    list-style:none;
    padding:0px;
    margin:0px;
}

div{
    display:flex;
    flex-direction: column;

    @include lg{
        flex-direction: row;
    }
}

@mixin site-padding{
    padding: 40px 20px;

    @include lg{
        padding: 150px 200px;
    }
}

img{
    max-width: 100%;
}

#header{
    background-color: $gray6;
    h3{
        color: $white;
    }
}

footer{
    background-color: $gray6;
    h3{
        color: $white;
    }
}