/* =============
    Typography
============= */

//font-family: 'Montserrat', sans-serif;


//header//

@mixin headline {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h1 {
    @include headline();
    color: black;
    font-size: 40px;
}

@mixin h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {
    @include h2();
    color: black;
    font-size: 24px;
}

@mixin h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h3 {
    @include h3();
    color: black;
    font-size: 24px;
}

@mixin h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h4 {
    @include h4();
    color: black;
    font-size: 20px;
}

@mixin h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h5 {
    @include h5();
    color: black;
    font-size: 24px;
}

@mixin h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h6 {
    @include h6();
    color: black;
    font-size: 15px;
}

@mixin h7 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h7 {
    @include h7();
    color: black;
    font-size: 20px;
}

@mixin h8 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h8 {
    @include h8();
    color: black;
    font-size: 15px;
}



//button//

@mixin btn-font() {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}