#thankyou {

    display: flex;
    justify-content: center;
    align-items: center;

    @include lg {
        // position: absolute;
        position:fixed;
        top: 190px;
        bottom:0;
        left:0;
        right:0;
        height: 834px;
    }

    .mainimg {
        display: none;

        @include lg {
            display: inline;
            width: 660px;
            height: auto;
        }
    }

    #thankyoupage {
        @include lg {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 50% 50%;
    
        }
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 390px;
        margin-bottom: 30px;
        margin-top: 30px;

        h1 {
            font-size: 24px;
        }

        .track {
            text-decoration: underline $gray3 1.2px;
        }

        .middle {
            margin: 10px 0px 40px;
            padding: 0px 20px;

            h6 {
                color: $gray3;
                font-size: 14px;
            }
        }

        .yellowbutton {
            display: flex;
            justify-content: center;
            width: 190px;
        }

        @include lg {
            margin: 0px;
            // padding-left: 160px;
            padding-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: space-evenly;
            width: 660px;

            h1 {
                font-size: 40px;
            }

            h4 {
                margin: 0px;
            }

            h6 {
                font-size: 18px;
            }

            .top {
                text-align: center;
                margin-bottom: 10px;
            }

            .middle {
                margin-bottom: 10px;
            }

            h6 {
                text-align: center;
            }

        }
    }
}