#contact {
    margin: 80px 130px 0px;

    section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 60px;

        input {
            width: 400px;
            height: 51px;
            background-color: $gray1;
            border: 3px solid $gray3;
            border-radius: 8px;
        }

        a.yellowbutton {
            width: 100px;
            height: 51px;
        }
    }

    div {
        display: flex;
        justify-content: space-between;

        .about {
            display: flex;
            flex-direction: column;
        }

        .location {
            display: flex;
            flex-direction: row;
            gap: 116px;

            article{
                display: flex;
                flex-direction: column;

            }
            section{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

            }
        }
    }
}