#contact {
    margin: 80px 130px 0px;

    section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 60px;

        .socials{
            width: 265px;
            height: 76px;
        }

        input {
            display: none;

            @include lg {
                display: inline;
                width: 400px;
                height: 51px;
                background-color: $gray1;
                border: 3px solid $gray3;
                border-radius: 8px;
            }
        }

        a.yellowbutton {
            display: none;

            @include lg {
                display: inline;
                width: 100px;
                height: 51px;
            }
        }
    }

    div {
        display: flex;
        justify-content: space-between;

        .about {
            display: none;

            @include lg {
                display: flex;
                flex-direction: column;
                display: inline;
            }
        }

        .location {
            display: none;

            @include lg {
                display: inline;
                display: flex;
                flex-direction: row;
                gap: 116px;
            }

            article {
                display: flex;
                flex-direction: column;

            }

            section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

            }
        }
    }
}