#details {

display: flex;
flex-direction: column;
align-items: center;

    @include sm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include lg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 100px 90px;
        gap: 66px;
    }

    aside{
        
        img{
            width: 256px;
            height: 340px; 
            display: flex;

            @include lg{
                height: auto;
                width: auto;
            }

        }
    }

    article {
        width: 358px;

        @include lg {
            height: 755px;
            width: 641px;
        }

        .hsixdetails{
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            color: black;
            font-size: 20px;
            margin: 0px;
        }

        aside {
            padding-bottom: 22px;
        }

        section {
            display: flex;
            flex-direction: column;
            gap: 16px;

            div {
                display: flex;
                flex-direction: column;
                border: 1px solid $gray3;
                border-radius: 8px;
                line-height: 24.38px;
                padding: 10px 32px 10px;
                padding-bottom: 30px;
            }

            aside {
                display: flex;
                flex-direction: column;
                border: 1px solid $gray3;
                border-radius: 8px;
                line-height: 24.38px;
                padding: 10px 32px;
                padding-bottom: 30px;
            }
        }
    }
}