footer{
    width: 100%;
    height: 46px;
    background-color: $gray6;

    .footerbtn:hover{
        color: $yellow;
    }

    @include lg{
        height: 198px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            padding-left: 98px;
        }

        div{
            padding-right: 98px;
            display: flex;
            gap: 30px;
        }
    }

    a{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $white;
        font-size: 24px;
        text-decoration: none;
    }
    a, img{
        display: none;

        @include lg{
            display: inline;
        }
    }
}