#header {
    width: 1440px;
    height: 190px;
    background-color: $gray6;

    h3 {
        color: $white;
    }

    section {
        display: flex;
    }

    div {
        display: flex;
        justify-content: space-evenly;
    }
}