#hero {
    height: 723.84px;
    margin: 84px 64px;
    display: flex;
    flex-direction: column;

    .herocart {
        fill: $black;
    }

    aside {
        display: grid;
        grid-template-areas:
            "info mainimage";

        article {
            section{
                width: 508px;
                padding-bottom: 54px;
            }
            .info {
                width: 530px;
            }

            padding-bottom: 45px;
            gap: 25px;

            .yellowbutton {
                .herocart {
                    padding-left: 10px;
                }

                display: flex;
                align-items: center;
                width: 124px;
            }
        }
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        article {
            display: flex;
            height: 108px;
            gap: 26px;

            img {
                height: 108px;
                width: 108px;
            }
        }

        section {
            display: flex;
            height: 96px;
            width: 744px;
            gap: 11px;

        }

    }
}