#hero {

    @include lg {
        margin: 64px 84px;
        // display: inline;
        height: 723.84px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside {
        display: flex;
        flex-direction: column;

        @include lg {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 44px;

            @include lg{
                flex-direction: column;
                align-items: flex-start;                
            }

            section {
                // width: 352px;
                // height: auto;

                @include lg {
                    // width: 508px;
                    // padding-bottom: 54px;
                }

                .reviews{
                    display: none;

                    @include lg{
                        display: inline;
                        width: 150px;
                    }
                }

                .bodytext{
                    width: 358px;
                }
            }

            @include lg{
                // width: 530px;
                padding-bottom: 45px;
                gap: 25px;
            }

            h1,h2,h4{
                text-align: center;
            }

            @include lg{
                h1,h2,h4{
                    text-align: left;
                }
            }

            .yellowbutton {
                .herocart {
                    padding-left: 10px;
                }

                display: flex;
                align-items: center;
                width: 124px;
            }
        }

        article.mainimage {
            img {
                display: none;

                @include lg {
                    display: inline;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    // height: 434px;
                }
            }
        }

        .mainmobile {
            img {
                display: inline;
                display: flex;
                margin: 0 auto;

                @include lg {
                    display: none;
                }
            }
        }
    }

    div {

        display: none;

        @include lg {
            display: inline;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            gap: 25px;
        }

        article {
            display: flex;
            height: 108px;
            gap: 26px;

            img {
                height: 108px;
                width: 108px;
            }
        }

        section {
            display: flex;
            height: 96px;
            gap: 11px;

        }

    }
}