#hero {
    height: 723.84px;
    margin: 84px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        background-color: $gray6;
        position: absolute;
        width: 100%;
        height: 64px;
        bottom: -110px;
    }

    .herocart {
        fill: $black;
    }

    aside {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        article {
            section{
                width: 508px;
                padding-bottom: 54px;
            }
            .info {
                width: 530px;
            }

            padding-bottom: 45px;
            gap: 25px;

            .yellowbutton {
                .herocart {
                    padding-left: 10px;
                }

                display: flex;
                align-items: center;
                width: 124px;
            }
        }
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 25px;
 
        article {
            display: flex;
            height: 108px;
            gap: 26px;

            img {
                height: 108px;
                width: 108px;
            }
        }

        section {
            display: flex;
            height: 96px;
            gap: 11px;

        }

    }
}