#reviews {
    display: grid;
    flex-direction: column;

    aside {
        * {
            margin: 0px;
        }

        display: flex;
        flex-direction: column;

        @include lg {
            margin-left: 100px;
            margin-right: 100px;
        }

        padding-bottom: 45px;

        article {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            section {
                display: flex;
                gap: 30px;
            }

            img {
                height: 35px;
                width: 240px;
            }

            .yellowbutton {
                display: none;

                @include lg {
                    display: inline;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            input {
                display: none;

                @include lg {
                    display: inline;
                    width: 400px;
                    height: 51px;
                    background-color: $gray1;
                    border: 3px solid $gray3;
                    border-radius: 8px;
                }
            }

        }
    }

    .reviews {

        display: flex;

        @include lg{
            justify-content: center;
        }

        ul {
            overflow: scroll;
            width: 100vw;
            justify-content: flex-start;

            display: flex;
            flex-direction: row;
            gap: 24px;
            margin: 0px;
            
            @include lg{
               overflow: visible;
                display: grid;
                grid-template-areas:
                    "jimmy johnny adam"
                    "tim samantha tony"
                    "billy craig sadie";

                justify-items: center;

                margin: 34px 74px;
                width: 1290px;
                height: 1330px;
                gap: 72px;
            }

            li {
                display: flex;
                flex-direction: column;
                min-width: 300px;
                align-items: flex-start;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    flex-direction: row;


                    img {
                        height: 36px;
                        width: 36px;
                    }
                }

                article {
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    padding-right: 20px;

                }

                .rating {
                    width: 229px;
                    height: 35px;
                }

                background-color: $gray1;
                border-radius: 20px;
                display: flex;
                width: 383px;
                height: 383px;

            }

        }
    }

    .more {
        h5 {
            color: $blue;
            display: flex;
            justify-content: flex-end;
            padding-right: 100px;
            gap: 5px;
        }
    }
}